body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#search-contact {
    margin-right: 10px;
}

.header-search {
    width: 100%;
}

#txt-search-contact {
    left: 0;
    right: 60px;
    width: auto;
    position: absolute;
}

#btn-add-contact {
    right: 0;
    position: absolute;
}

@media (min-width: 768px) {
    .header-search{
        position: relative;
        top: 22px;
        float: right;
    }
        
    .contact-card .jumbotron {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 765px) {
    .header-search {
        margin-left: -15px;
        margin-bottom: 40px;
    }
}

.contact-card .jumbotron {
    position: relative;
}
/*
.contact-card .button-group {
    position: absolute;
    bottom: 10px;
    right: 10px;
}*/

.contact-card .contact-avatar {
    border-radius: 25px;
}

.contact-input div.nopad {
    padding: 0;
}

.contact-input .jumbotron {
    padding-right: 10px;
    padding-left: 10px;
}