<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ArgoContacts : Error</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>
  <body>
    <h2>Sumptin' dun happened</h2>
    
    <pre>
        <%= message %>
    </pre>
  </body>
</html>